.App {
  text-align: center;
}

.App-header {
  background-color: black;
  max-height: 10vh;
  width: 100vw;
  float: left;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  float: left;
  background-color: lightgrey;
  min-height: 90vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  overflow: auto;
}

#LogoBox {
  height: 10vh;
  width: 5vw;
  margin:0 0 0 2%;
  float: left;
}

#LoginBox {
  height: 10vh;
  float: right;
  width: 15vw;
}

#SearchBox {
  float: left;
  align-self: center;
  margin: 0 15% 0 15%;
  width: 50vw;
  height: 10vh;
  background-color: blue;
}
