.App {
  text-align: center;
}

.App-header {
  background-color: black;
  max-height: 10vh;
  width: 100vw;
  float: left;
  display: flex;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-section {
  float: left;
  background-color: lightgrey;
  height: 80vh;
  min-width: 100vw;
  max-width: 100vw;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  overflow: auto;
}

#LogoBox {
  height: 10vh;
  width: 5vw;
  margin:0 0 0 2%;
  float: left;
}

#LoginBox {
  height: 10vh;
  position: fixed;
  left:95vw;
  width: 5vw;
}

#SearchBox {
  float: left;
  align-self: center;
  margin: 0 15% 0 18%;
  width: 50vw;
  height: 10vh;
}

#SearchButton{
  align-self: center;
  height: 5vh;
  width: 10vw;
  border-radius: 25px;
  border: 2px solid black;
  font-size: large;
  text-shadow: 1px 1px grey;
  background-color: lightgray;
  margin-top: 2.4%;
  cursor: pointer;
}

#loginIcon {
  width: 5vw;
  height: 5vh;
  margin-top: 1vh;
  margin-bottom: 0;
}

#LoginText {
  margin-top: -2vh;
}

footer {
  float: left;
  width: 100vw;
  height: 10vh;
  background-color: darkgray;
}


::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: lightgrey;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}