.searchBox {
    height: 70vh;
    width: 80vw;
    margin: 5vh 10vw 5vh 10vw;
    color: black;
}


#checkBox {
    height: 5vh;
    width: fit-content;
    background-color: #ccc;
    margin: 2vh 1vw 2vh 1vw;
    float: left;
    border: 1px solid black;
    border-radius: 7px;
}

#facility {
    float: left;
    width: 3vh;
    height: 3vh;
    margin: 1vh 1vw 1vh 1vw;
}

#facilityLabel {
    float: left;
    margin-left: 1vw;
}

#searchInput {
    float: left;
    width: 12vw;
    height: 5vh;
    margin: 2vh 2vw 0 2vw;
    padding-left: 5px;
    font-size: 14pt;
    font-style: italic;
  }

  #simpleSearch {
    float: left;
    height: 5vh;
    width: 10vw;
    border-radius: 25px;
    border: 2px solid black;
    font-size: large;
    text-shadow: 1px 1px gray;
    background-color:lightgray;
    cursor: pointer;
  }
  
  #SimpleSearch:hover {
    background-color: gray;
    text-shadow: 1px 1px lightgray;
  }

  #inputBox {
      display: block;
      width: 10vw;
      height: 10vh;
      clear: both;
      position: fixed;
      top: 70%;
      left: 44.5%;
  }

  #facilityBox {
      width: 90%;
      margin-left: 4vw;
  }


  .roomP:first-child {
    float: left;
    height: 100%;
    margin-left: 4%;
    max-width: 80%;
    font-size: 13pt;
    display: block;
}

.roomP:nth-child(2) {
    float: left;
    height: 100%;
    margin-left: 16%;
    max-width: 80%;
    font-size: 13pt;
    display: block;
}

.roomP:nth-child(3) {
    float: right;
    height: 100%;
    margin-right: 6%;
    max-width: 80%;
    font-size: 13pt;
    display: block;
}

#pBox {
    float: left;
    display: block;
    width: 75%;
    margin: 1% 0 0 0;
    text-align: center;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
}

#imageBox {
    float: left;
    height:100%;
    width: 15.9%;
    display: block;
    border-right: 1px solid black;
}

#textBox {
    float: left;
    width:75%;
    border-bottom: 1px black solid;
    border-right: 1px black solid;
    margin-top: 1%;
    text-align: left;
    height: 55%;
}

.roomBriefDesc {
    float: left;
    max-width: 75%;
    margin: 0% 1% 0 1%;
    font-size: 16pt;
}

#searchRoom {
    float: left;
    width: 70vw;
    height:15vh;
    margin: 0.5% 0vw 0.5% 5vw;
    display: block;
    background-color: grey;
}

#simplefacTitle {
    float: right;
    width: 8.9%;
    margin:-2.1% 0 0 0%;
    height:100%;
    font-size: 12pt;
    border-bottom: 1px solid black;
}
.simplefacilityP {
    float: right;
    width: 8.9%;
    height:100%;
    font-size: 8pt;
}
